# Default ignored files
/shelf/
/workspace.xml

# some terraform files
*.tfstate
*.tfstate.*
.terraform/
*.tfplan
*.tfvars.json
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl